@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo';
}

/*---Navbar-------------------------------------------------------------------------*/

.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo .img {
    width: 18vh;
    height: 18vh;
    left: 25px;
    top: 2px;
    position: absolute;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-links ul {
    display: flex;
    gap: 25px;
    top: 20px;
    right: 20px;
    position: absolute;
    padding-inline: 20px;
}

.menu-links ul li {
    list-style: none;
}

.menu-links ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 15px;
}

.bar {
    transition: .25s;
}

.bar1 {
    width: 30px;
    height: 3.5px;
    background-color: white;
}

.bar2 {
    width: 30px;
    height: 3.5px;
    background: white;
}

.bar3 {
    width: 30px;
    height: 3.5px;
    background: white;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/*-----------------------------------------------------------------------------------*/

.button-book {
    border: solid white 1px;
    color: white;
    position: absolute;
    left: 215px;
    top: 580px;
}

.button-book:hover {
    opacity: 0.5;
}

.button-book  {
    color: white;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    font-size: 1.5em;
    padding: 10 35px;
}

.button-book a:hover {
    color: white;
}


/*--------------------------------------------------------------------------------*/

/*---Hero-------------------------------------------------------------------------*/

.hero {
    width: 100%;
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-container {
    width: 100%;
    height: 100%;
    background: black;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(barberman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   
}

.hero2 {
    width: 100%;
    height:  200vh;
    background: rgb(54, 54, 54);
}

.black-div {
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    gap: 3.5em;
    scroll-snap-align: start;
}


.black-one {
    height: 580px;
    width: 510px;
    border: solid black 2px;
    border-radius: 10px;
    overflow: hidden;
    border: solid white 3.5px;
    box-shadow: 0px 0px 10px rgb(31, 31, 31);
    cursor: pointer;
}

.black-two {
    height: 580px;
    width: 510px;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
    overflow: hidden;
    border: solid white 3.5px;
    box-shadow: 0px 0px 10px rgb(31, 31, 31);
    cursor: pointer;
}

#blackdivtop1 {
    width: 100%;
    height: 56%;
    background: url(cuts.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid white 4px;
    color: whitesmoke;
    align-items: center;
    font-size: 5em;
}



#blackdivtop3 {
    width: 100%;
    height: 56%;
    background: url(cosmetics.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid white 4px;
    color: whitesmoke;
    align-items: center;
    font-size: 5em;
}

.black-div-top h1 {
    font-family: 'Poppins';
    text-align: center;
}

.central {
    height: 100%;
    width: 100%;
    background-color: white;
    color: rgb(59, 58, 58);
    font-size: 19px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}

.central h4 {
    position: absolute;
    left: 20px;
    top: 17px;
    font-size: 22.5px;
}

.central p{
    position: absolute;
    left: 20px;
    top: 52px;
}


.black-div-body{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(138, 9, 9), rgb(214, 214, 214));
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reveal {
    opacity: 0;
    transition: 1s;
    transform: translateX(-200px);
}

.reveal.active {
    opacity: 1;
    transform: translateY(0px);
}

.reveal-b {
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}

.reveal-b.active {
    opacity: 1;
    transform: translateY(0px);
}

.reveal-r {
    opacity: 0;
    transition: 1s;
    transform: translateX(200px);
}

.reveal-r.active {
    opacity: 1;
    transform: translateY(0px);
}