*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    margin-top: -85px;
    margin-left: 190px;
    width: 85%;
    padding: -1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 130px;
    border-radius: 60%;
    cursor: pointer;
    padding-left: 100px;
    border-left: 100px;
    
    margin-top: 50px;
    box-decoration-break: inherit;
}

.logicko{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: large;
    margin-left: 70px;
    padding-top: 10px;
}

.welcome{
    font-size: 110px;
    color: ivory;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    top: 50%;
    margin-top: 450px;


}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 900px;
    margin-top: -50px;
    word-spacing: 10px;
    
  
    
    
    
}
.navbar ul li a{
    padding-top: -100px;
    letter-spacing: 1px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    
    
}

.navbar ul li a::after{
    content:'';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li a:hover:after{
    width: 100%;


}
button{
    width: 200px;
    padding: 4px 0;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid whitesmoke;
    background: transparent;
    color:white;
    cursor: pointer;
    position: relative;
}
button:hover{
    color: gray;
    border-color: black;
    background-color: black;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}





