@media (max-width: 1200px) {
    .media-menu {
        width: 100%;
        height: 15vh;
        background-color: black;
    }

    .menu-links ul li a{
        display: none;
    }

    .logo {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .monkey-big {
        justify-self: center;
        position: sticky;
        left: 20px;
        display: none;
    }

    .picture-container {
        background-size: contain;
        background-repeat: repeat-x;
    }

    .button-book {
        display: none;
    }

    /*---------------------------------*/

    .black-div {
        margin-top: 50px;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .logo img {
        width: 14vh;
        height: 14vh;
    }
}